.edit_page{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: #101010;
    min-height: 100vh;
}
.edit_container{
    width: 800px;
    height: 1200px;
    /* background: rgb(170, 164, 164); */
    color: white;
    margin-top: 100px;
    margin-left: 200px;
}
.my_profile_image_container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background: black;
}
.my_profile_image_bg{
    width: 100%;
    height: 100%;
    opacity: 0.3;
    object-fit: cover;
}
.my_profile_image{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.profile_image_upload{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.member_info{
    display: grid;
    grid-template-areas: "a a";
    gap: 30px;
    padding: 30px;
}
.information_container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.member_info_input{
    height: 40px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    min-width: 300px;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #8a8989;
    color: #fff;
}
.information_birthday:focus{
    outline: none;
}
textarea {
    font-size: 20px;
    border-radius: 5px;
    font-family:"Times New Roman", Times, serif;  
    padding: 10px;
    border: none;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #8a8989;
    color: #fff;
}
textarea:focus {
    outline: none;
}

#genderSelect {
    height: 53px;
    margin-top: 9px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding-left: 5px;
}

#genderSelect:focus {
    outline: none;
}

.button button {
    width: 100%;
    cursor: pointer;
    height: 50px;
    border: none;
    margin-top: 50px;
    background: linear-gradient(to left, #FF007A, blue);
    font-size: 20px;
    color: white;
    border-radius: 10px;
}
