.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #F0F2F5;
    min-height: 100vh;
    padding-bottom: 100px;
}

/* Story */
.story-wrapper {
    margin-top: 100px;
    color: #000000;
    min-width: 1000px;
    max-width: 1000px;
}
.user-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 150px;
}
.storyContent{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 2px solid #FF007A;
}
.storyContentArticle{
    border-radius: 50%;
    width: 100px;
    height: 91px;
    border: 2px solid #FF007A;
    text-align: center;
    overflow: hidden;
    padding-top: 10px;
    font-size: 7px;
}

/* post-mode */
.post-mode {
    display: flex;
    margin-top: 20px;
    gap: 40px;
}

.post-mode button {
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.post-mode button:hover {
    background-color: rgb(255, 45, 150);
}

/* Post */
.post_container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 590px;
    height: 640px;
    /* background: rgb(78, 78, 187); */
    margin-top: 100px;
}
.post_data{
    display: flex;
    background: #000000;
    max-height: 190px;
    padding: 20px 30px;
    color: #ffffff;
    justify-content: space-between;
    flex-direction: column;
}
.post_data .post_top{
    display: flex;
    width: 100%;
    color: #ffffff;
    justify-content: space-between;
    align-items: center;
}
.post_data .user_container{
    display: flex;color: #fff;
}
.post_user_icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
}
.icon{
    width: 23px;
    height: 23px;
}
.post_content{
    width: 100%;
    height: 73%;
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    /* cursor: pointer; */
}
.post_content img, video{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    /* cursor: pointer; */
}
.post_content_article{
    height: 75%;
    background: rgb(0, 0, 0);
    padding: 30px;
}
.post_desctiption{
    padding-top: 10px;
    max-height: 100px;
}

/* Post Bottom */
.post_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000;
    height: 66px;
    color: #ffffff;
    padding: 0 30px;
}
.post_bottom .left, .right{
    display: flex;
    align-items: center;
}
.post_bottom .bottom_icon{
    width: 25px;
    height: 25px;
    margin-right: 8px;
    cursor: pointer;
}

.restaurant_avatars_wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 147px;
}