* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.user_icon svg {
    margin-bottom: -83.5px;
    margin-left: -4.5px;
}

.story_wrapper p {
    font-size: 13px;
}

.story_wrapper {
    display: flex;
    gap: 5px;
    width: 100%;
    overflow: scroll;
    margin-top: 65px;
    color: white;
}


.post-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 573px;
    background: rgb(78, 78, 187);
    margin-top: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: auto;
    z-index: -1;
    margin-bottom: 50px;
}

.post-data {
    display: flex;
    background: #000000;
    width: 100%;
    height: 150px;
    padding: 20px 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #ffffff;
    justify-content: space-between;
    flex-direction: column;
}

.post_top {
    display: flex;
    width: 100%;
    color: #ffffff;
    justify-content: space-between;
    align-items: center;
}

.user_container {
    display: flex;
}

.post_user_icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
}

.mobile_icon {
    width: 23px;
    height: 23px;
}

.post_content {
    width: 100%;
    height: 66%;
    background: gray;
}

.post_content img {
    width: 100%;
    height: 100%;
}

.post_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000;
    height: 66px;
    color: #ffffff;
    padding: 0 30px;
}

.post_bottom .mobile_left, .mobile_right{
    display: flex;
    align-items: center;
}

.post_bottom .bottom_icon{
    width: 25px;
    height: 25px;
    margin-right: 8px;
}
