* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.visit-contianer{
    background: #F0F2F5;
    min-height: 100vh;
    margin-top: 60px;
}
.mobile_center_icon{
    width: 27px;
    height: 27px;
    cursor: pointer;
}
.mobile_page_bottom{
    /* background: red; */
    /* width: 100vh; */
    display: grid;
    grid-template-areas: 'a a a';
}
.mobile_story_post{
    width: 130px;
    height: 155px;
    border: 2px solid #b80059;
    border-radius: 8px;
    overflow: hidden;
}
.mobile_story_post img, video{
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 11px;
    object-fit: cover;
}
.mobile_post{
    width: 130px;
    height: 155px;
    border-radius: 2px;
    overflow: hidden;
}
.mobile_post img, video{
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 11px;
    object-fit: cover;
}
.mobile_buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin-left: 20px;
    margin-bottom: 20px;
    margin: -20px 20px 20px 30px;
}
.mobile_button{
    width: 88px;
    height: 29px;
    border-radius: 14px;
    /* background: red; */
    color: #fff;
    border: none;
}
.mobile_page_information{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 30px;
    font-size: 12px;
}
.my_page_mobile_description{
    background: rgb(228, 227, 227);
    width: 232px;
    height: 65px;
    font-size: 9px;
    color: #000000;
    padding: 5px;
    margin-top: 14px;
}
.mobile-user-data-container{
    margin-top: 10px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.mobile_story_button{
    width: 90px;
    height: 28px;
    border-radius: 6px;
    background: linear-gradient(180deg, #4D0025 0%, #FF007A 100%);
    color: #ffffff;
    font-size: 11px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}