body{
    height: 100vh;
    background: linear-gradient(#0c131f, #264569);
    background-attachment: fixed;
}

.upload_big_container {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #101010;
    min-height: 100vh;
}
.upload_container{
    margin-top: 100px;
    margin-left: 17%;
    width: 1050px;
    height: 620px;
    color: #fff; 
}
.upload_text{
    font-weight: 900;
    font-size: 1.8rem;
    margin: 20px;
}
.upload_page_tabs_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Upload Post Bottom (Photo, Video, Article Post) */
.upload_post_bottom{
    width: 100%;
    height: 450px;
}

.upload_image_box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.photos{
    width: 93%;
    padding: 15px;
    height: 270px;
}
.uploaded_image{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.file_input{
    position: relative;
    width: 130px;
    cursor: pointer;
    background: linear-gradient(180deg, #f8041c -50%, #000000 70%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    padding: 16px 0;
    margin: 15px;
}
.Upload_file{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

/* Photo Panel */
.photo_panel_container{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.photo_panel_left{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 130px;
    /* border: 2px solid red; */
}
.photo_panel_left textarea{
    width: 370px;
    height: 130px;
    resize: none;
    background: rgb(187, 187, 187);
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    padding: 15px;
}
.upload_button{
    width: 135px;
    height: 50px;
    border-radius: 20px;
    background: transparent;
    border: 1px solid #fff;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}
.cencel{
    background: #888888;
}
textarea::placeholder{
    color: rgb(109, 108, 108);
}
.buttons{
    display: flex;
    gap: 100px;
}
.upload_photo{
    width: 99%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    font-size: 18px;
}

.photo_panel_right{
    width: 45%;
    /* border: 2px solid red; */
}

/* Article Contaienr */
.article_panel_container{
    width: 100%;
    height: 600px;
    /* background: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.article_container{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background: red; */
}

.article_title_textarea {
    width: 560px;
    height: 300px;
    resize: none;
    background: rgb(187, 187, 187);
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 15px;
    font-family: initial;
    border-radius: 10px;
}

.change-color_btn{
    background:  rgb(0, 0, 0);
    border: none;
    height: 40px;
    width: 260px;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    border-radius: 10px;
    color: #fff;
    transition: 0.5s;
}
.bg{
    width: 300px;
}
.change-color_btn:active{
    transform: scale(1.1);
    background: #FF007A;
    transition: 0.1s;
}
.change-color-buttons{
    position: relative;
    margin-top: 20px;
    display: flex;
    gap: 60px;
    justify-content: end;
}
.input-color{
    position: absolute;
    border-radius: 50px;
    width: 200px;
    padding: 20px;
    cursor: pointer;
    background: #000;
    opacity: 0;

}
.bg-span{
    height: 40px;
    width: 200px;
    background: #000;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 10px;
    bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Mobile */