.shorts_big_container {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #F0F2F5;
    min-height: 100vh;
}

.shorts_container{
    margin-top: 65px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.short_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
    width: 900px;
    gap: 30px;
    margin-left: 300px;
}
.video_left{
    margin: 30px 0;
    width: 500px;
    height: 660px;
    background: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.short_content .video_content{
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}
.video_right{
    background-color: rgba(0, 0, 0, 0);
    width: 500px;
    height: 660px;
    margin-top: 20px;
}
.video_title{
    /* background: blue; */
    width: 400px;
    max-height: 120px;
    padding: 10px;
}
.video_information{
    background: transparent;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #000000;
    cursor: pointer;
    font-size: 11px;
}