.visit_container {
    margin-left: 300px;
    display: flex;
    justify-content: center;
    color: #fff;
}

.visit_container .visit_page_container {
    margin-top: 100px;
    display: flex;
    margin-bottom: 50px;
}

.visit_container .visit_page_container .visit_page_box{
    position: relative;
    width: 848px;
    height: auto;
}

.visit_page_box .page_top{
    width: 788px;
    height: 330px;
    display: flex;
    gap: 130px;
    padding: 0 30px;
}

/* Top Left Info */
.visit_page_box .page_top .left_info .user_icon{
    width: 132px;
    height: 132px;
    cursor: pointer;
    border-radius: 50%;
}

.visit_page_box .page_top .left_info .nickname{
    font-size: 20px;
    margin: 10px 0 60px 0;
}

.visit_page_box .page_top .left_info .story-btn{
    width: 135px;
    height: 38px;
    border-radius: 6px;
    background: linear-gradient(180deg, #4D0025 0%, #FF007A 100%);
    color: #ffffff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.visit_page_box .page_top .left_info .follow_btn{
    width: 152px;
    height: 33px;
    border-radius: 21.5px;
    background: var(--ff-007-a, #FF007A);
    font-size: 16px;
    color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

/* Top Right Info */
.visit_page_box .page_top .right_info{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.visit_page_box .page_top .right_info .info{
    display: flex;
    flex-direction: column;
}

.visit_page_box .page_top .right_info .info .top_icons{
    display: flex;
    position: absolute;
    right: 40px;
    gap: 20px;
}

.visit_page_box .page_top .right_info .info .bottom_infos{
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 100px;
}

.visit_page_box .page_top .right_info .info .group{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.visit_page_box .page_top .right_info .info .group .text{
    color: #868383;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.visit_page_box .page_top .right_info .info .group .count{
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    }

.visit_page_box .page_top .right_info .description{
    color: rgb(196, 193, 193);
    width: 500px;
}

/* Center */
.visit_page_box .page_center{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    z-index: 1;
}
.other_page_center{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.visit_page_box .center_icon{
    width: 27px;
    height: 27px;
    cursor: pointer;
}

.visit_page_box .line{
    margin-top: -1px;
    position: relative;
    width: 848px;
    height: 1px;
}

/* Upload Post Button */
.upload_post_btn{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 12px;
    gap: 20px;
}

.visit_page_box .upload_post_btn .upload-post{
    width: 135px;
    height: 38px;
    border-radius: 6px;
    background: var(--ff-007-a, #FF007A);
    border: none;
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

/* Page Bottom */
.visit_page_box .page_bottom{
    margin-top: 30px;
    display: grid;
    grid-template-areas: 'a a a a';
    justify-content: start;
    gap: 10px;
}
.visit_page_box .page_bottom .post{
    width: 206.756px;
    height: 247px;
}

.visit_page_box .page_bottom .post img, video, .article_post{
    width: 100%;
    height: 100%;
}

/* Edit Profile */
.edit-profile{
    width: 135px;
    height: 38px;
    background: #777777;
    color: #fff;
    font-size: 16px;
    border: none;
    margin-left: 50px;
    cursor: pointer;
    border-radius: 6px;
}

.info .top_icon{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.my_data{
    margin-top: 50px;
    display: flex;
    gap: 100px;
}
.my-page-information {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 30px;
}
.infoModalContainer{
    user-select: none;
    margin: auto;
    display: flex;
    width: 500px;
    height: 670px;
    background: rgb(0, 0, 0);
    color: #fff;
    border: 2px solid #FF007A;
}
.member_info_closing{
    width: 476px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 70px;
    padding: 10px;
    font-size: 2rem;
}
.member_info_closing span{
    font-size: 2rem;
    color: #FF007A;
    margin-bottom: 20px;
}
.member_info_closing span span{
    font-size: 1.4rem;
    color: #fff;
}
.close{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.information{
    font-size: 18px;
    display: flex;
    gap: 10px;
    margin: 20px;
    margin-left: 30px;
}
.info_category{
    width: 100px;
    color: #999798;
}
.my_page_stack{
    width: 100%;
}
.my_page_tablist{
    width: 100%;
    display: flex;
    justify-content: center;
}
